name: Run onPushScript                                                                                                                                                                   
                                                                                                                                                                      
on:                                                                                                                                                                                      
  push:                                                                                                                                                                                  
    branches: [ "main" ]                                                                                                                                                                 
  pull_request:                                                                                                                                                                          
    branches: [ "main" ]                                                                                                                                                                 
                                                                                                                                                                      
jobs:                                                                                                                                                                                    
  run-script:                                                                                                                                                                            
    runs-on: ubuntu-latest                                                                                                                                                               
                                                                                                                                                                        
    steps:                                                                                                                                                                     
      - uses: actions/setup-node@v4 

      - name: check node version
        run: node -v
      - name: install opencode
        run: npm install -g opencode-ai
      
      - uses: actions/checkout@v4                                                                                                                                                          

      - name: list dir
        run: ls
        
      - name: Make script executable                                                                                                                                                       
        run: chmod +x ./cicd/onPushScript.sh                                                                                                                                                      
                                                                                                                                                                            
      - name: Run onPushScript                                                                                                                                                             
        run: ./cicd/onPushScript.sh
